<h1>Listing subjects</h1>

<div id="subject-list-container">

  <%= render "listing" %>


</div>
<br />
<% if current_user %>
    <% if can? :create, Mybook %>
        <h2>Add a Subject:</h2>
        <%= render "form" %>
    <% end %>
<% else %>
    <%= link_to "log in", signin_path %> to add new subject
<% end %>

<script >
$('.datatable').dataTable({
"sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
"sPaginationType": "bootstrap"
});
</script>